
<div class="col-md-4 mt-5">
    <div class="card">
      <div class="card-header d-flex">
          <div class="mr-auto p-2">{{app.name}}</div>
          <div class="p-2"><button type="button" class="btn btn-primary btn-sm">Edit</button></div>
          <div class="p-2"><button type="button" class="btn btn-danger btn-sm">Delete</button></div>
      </div>
      <div class="card-body">
        <p class="card-text">{{app.description}}</p>
        <p class="card-text">Type: {{app.type}}</p>
        <p class="card-text">Framework: {{app.framework}}</p>
        <p class="card-text">Domain: {{app.domain_name}}</p>
      </div>
    </div>
</div>