
{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block content %}
    
    {% if user.is_authenticated %}
      <button class="btn btn-primary">Create App</button>
      <div class="row mt-0 mb-5">
        {% if apps|length > 0 %}
          {% for app in apps %}
              <div class="col-md-4 mt-5">
                  <div class="card">
                    <div class="card-header d-flex">
                        <div class="mr-auto p-2">{{app.name}}</div>
                        <div class="p-2"><button type="button" class="btn btn-primary btn-sm">Edit</button></div>
                        <div class="p-2"><button type="button" class="btn btn-danger btn-sm">Delete</button></div>
                    </div>
                    <div class="card-body">
                      <p class="card-text">{{app.description}}</p>
                      <p class="card-text">Type: {{app.type}}</p>
                      <p class="card-text">Framework: {{app.framework}}</p>
                      <p class="card-text">Domain: {{app.domain_name}}</p>
                    </div>
                  </div>
              </div>
          {% endfor %}
        {% else %}
              Currently there are no Apps!
        {% endif %}
      </div>
      <div class="top-140-pad">
          <div class="sticky pull-right">
              <div>
                <a href="https://www.crowdbotics.com/?ref=badge+{{customtext.title}}">
                    <span class="badge badge-success pull-right">
                        <div id="image" style="display:inline;">
                          <img class="img-fluid pencil" src="{% static 'img/slack-app-pencil.png' %}" alt="Built with software packages from crowdbotics.com" height="30" width="30">
                            </div>
                        <div id="texts" style="display:inline; margin-left: 4px;">
                          Made with Crowdbotics.com
                        </div>
                    </span>
                </a>
              </div>
          </div>
      </div>
    {% else %}
      <h1>Please Login</h1>
    {% endif %}
{% endblock %}

