
{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block content %}
    
    {% if user.is_authenticated %}
      <button class="btn btn-primary">Create App</button>
      <div class="row mt-0 mb-5">
        {% if apps|length > 0 %}
          {% for app in apps %}
            {% include "home/app_card.html" with app=app only %}
          {% endfor %}
        {% else %}
              Currently there are no Apps!
        {% endif %}
      </div>
      <div class="top-140-pad">
          <div class="sticky pull-right">
              <div>
                <a href="https://www.crowdbotics.com/?ref=badge+{{customtext.title}}">
                    <span class="badge badge-success pull-right">
                        <div id="image" style="display:inline;">
                          <img class="img-fluid pencil" src="{% static 'img/slack-app-pencil.png' %}" alt="Built with software packages from crowdbotics.com" height="30" width="30">
                            </div>
                        <div id="texts" style="display:inline; margin-left: 4px;">
                          Made with Crowdbotics.com
                        </div>
                    </span>
                </a>
              </div>
          </div>
      </div>
    {% else %}
      <h1>Please Login</h1>
    {% endif %}
{% endblock %}

